/* Main Styles */
.navbar-wrapper {
  background: url(../images/carousel/nav-bg.png) bottom left repeat-x;
  margin-top: 0;
}
.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover {
  background: transparent;
}
.navbar-inverse .navbar-nav>li>a {
	color: white;
}
.filtrosUbicacion {
	margin: 13px 0 0 39px;
	font-size: 13px;
}
a.mapFilter {
	background-color: white;
	font-size: 14px;
	text-decoration: none;
	padding: 5px 8px;
}
a.mapFilter:hover {
	background-color: #f7f7f7;
}
a.mapRestaurantes {
	color: #D38E1A;
	border: 1px solid #F7B74D;
}
a.mapRestaurantesOff {
	color: #ABABAB;
	border: 1px solid #dbdbdb;
}
a.mapAloj {
	color: #3b9529;
	border: 1px solid #59b147;
}
a.mapAlojOff {
	color: #ABABAB;
	border: 1px solid #dbdbdb;
}
a.mapPuntos {
	color: #9e2525;
	border: 1px solid #b14747;
}
a.mapPuntosOff {
	color: #ABABAB;
	border: 1px solid #dbdbdb;
}
a.mapFilterOff {
	color: #ABABAB;
	border: 1px solid #dbdbdb;
}
span.mapRefIcon {
	background-image: url(../img/icons/mapRef.png);
	display: inline-block;
	width: 13px;
	height: 16px;
	margin-bottom: -3px;
}
span.mapRefIconOff {
	background-image: url(../img/icons/mapRefOff.png);
	display: inline-block;
	width: 13px;
	height: 16px;
	margin-bottom: -3px;
}
span.mapYellowIcon {
	background-position: 0 0;
}
span.mapGreenIcon {
	background-position: -13px 0;
}
span.mapRedIcon {
	background-position: -26px 0;
}
.datosUbicacion {
	margin-left: 27px;
}
.datosUbicacion table {
	font-size: 14px;
}
.datosUbicacion td {
	padding: 3px;
	border-bottom: 1px dotted #979797;
}
.datosUbicacion td.field {
	font-weight: bold;
}
.mapPlace {
	margin: 15px 35px 25px 35px;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}
.carac1 {
	width: 30%;
	margin-right: 10px;
	margin-left: 10px;
}
.carac2 {
  width: 30%;
  margin-right: 10px;
}
.carac3 {
  width: 30%;
}
.carTitle {
  text-align: left;
  color: #636363;
  font-size: 16px;
  margin-top: 20px;
  background-color: #E4E4E4;
  font-weight: normal;
  padding: 5px 10px;
}
ul.carList {
  font-size: 14px;
  list-style: none;
  text-align: left;
  padding-left: 9px;
}
ul.carList li {
  border-bottom: 1px dotted #979797;
  padding: 5px 0;
}
ul.carList li p{
  margin: 0;
  font-size: 13px;
  opacity: 0.8;
}
.carCheck {
  width: 16px;
  height: 15px;
  display: inline-block;
  background-image: url(../images/icons/car_check.png);
  float: right;
}
.carOk {
  background-position: 0 0;
}
.carNo {
  background-position: -16px 0;
}
.carNum {
  display: inline-block;
  width: 16px;
  text-align: center;
  font-weight: bold;
  float: right;
}

